@model CadSeries.Models.Series

@{
    ViewData["Title"] = "Delete";
}



<h3 class="alert-danger">Tem certeza que deseja excluir este cadastro?</h3>
<div>
    <h4>Series</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            <label>Genero</label>
            
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Genero.NomeGenero)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cartaz)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cartaz)
        </dd>
        <dt class = "col-sm-2">
            <lable>Descrição</lable>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ativo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ativo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Diretor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Diretor.Biografia)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Deletar" class="btn btn-danger" /> |
        <i class="fas fa-backward"></i> <a asp-action="Index">Voltar</a>
    </form>
</div>
