@model IEnumerable<CadSeries.Models.TV>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <h4>Para cadastrar clique no botão Novo.</h4><br />
    <a class="btn btn-primary" asp-action="Create">Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <label>Nome da Emissora</label>
                
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ativo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeTv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ativo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id"><i class="fas fa-edit"></i> Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id"><i class="fas fa-list"></i> Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Id"><i class="fas fa-trash"></i> Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
